.MainWindow {
    background-color: #f1f3f4;
}
QPushButton#analyzeButton {
    background-color: rgb(15, 89, 138);
    color: white;
    font-size: 13pt;
    font-weight: 500;
}
.AudioDragAndDrop {
    border: 2px dashed #cacaca;
}
.AudioPlayer QLabel {
    font-size: 8pt;
}
.AudioPlayer {
    background-color: #eee;
}
.MainAudioPlayer QLabel {
    font-size: 8pt;
    color: #777;
    margin-top: -3px;
}
.WaveformView QGraphicsView {
    background-color: transparent;
}